<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <p class="text-sm">Copyright &copy; <%= Time.now.year %> Test Task for Faster Than Light</p>
    </div>
  </div>
</footer>
