<nav class="bg-gray-900 text-white py-3 px-6">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-xl font-medium">
      <a href="#" class="text-white hover:text-gray-400">My App</a>
    </div>
    <div class="flex items-center">
      <a href="#" class="text-white hover:text-gray-400 mr-4">Home</a>
      <a href="#" class="text-white hover:text-gray-400 mr-4">About</a>
      <a href="#" class="text-white hover:text-gray-400">Contact</a>
    </div>
  </div>
</nav>
